<main>
	<%- include('../partials/studentSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white p-3">
			<h5 class="m-0 fw-bold color-theme">Activities</h5>
		</div>
		
		
		<div class="col col-sm-10 col-12 m-auto my-4" style="max-height: 75%; overflow: auto;">
			<table class="table table-info table-striped table-hover m-0 bg-white">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Category</th>
						<th scope="col">Activity</th>
						<th scope="col">Activity time</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<activities.length; i++) { %>
						<tr>
							
							<% if(activities[i].category == "issue") { %>
								<th scope="row"> <%= i+1 %> </th>
								<td> Issue </td>
								<td>
									<span class="activity-item"><%= activities[i].book.title %></span>
									<span>was issued</span>
								</td>
								<td> <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
								
							<% } else if(activities[i].category == "return") { %>
								<th scope="row"> <%= i+1 %> </th>
								<td> Return </td>
								<td>
									<span class="activity-item"><%= activities[i].book.title %></span>
									<span>was returned</span>
								</td>
								<td> <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
								
							<% } else if(activities[i].category == "addBook") { %>
								<th scope="row"> <%= i+1 %> </th>
								<td> Add book </td>
								<td>
									<span>Added book</span>
									<span class="activity-item"><%= activities[i].book.title %></span>
								</td>
								<td> <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
								
							<% } else if(activities[i].category == "updateBook") { %>
								<th scope="row"> <%= i+1 %> </th>
								<td> Update book </td>
								<td>
									<span>Updated book</span>
									<span class="activity-item"><%= activities[i].book.title %></span>
								</td>
								<td> <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
								
							<% } else if(activities[i].category == "updateStudentProfile") { %>
								<th scope="row"> <%= i+1 %> </th>
								<td> Update Student </td>
								<td>
									<span>You updated your profile</span>
								</td>
								<td> <%= activities[i].activityTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
							<% } %>
							
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		
		
	</div>
	
</main>